@import "~bulma/sass/utilities/initial-variables.sass"
@import "../styles/colors.sass"
@import "~bulma/bulma.sass"

.link
  color: $link
  fill: $link
  cursor: pointer
  text-decoration: none
  strong
    color: currentColor
    fill: currentColor
  &:hover
    color: $link-hover
    fill: $link-hover

.monogram
  fill: $light
  margin-bottom: 1.5rem
  max-width: 100%
  +desktop
    height: 10rem
    width: 10rem
  +touch
    height: 5rem
    width: 5rem

.title
  +desktop
    font-size: 8rem !important
  +touch
    font-size: 4rem !important

.subtitle
  +desktop
    font-size: 2rem !important
  +touch
    font-size: 1rem !important

.angled
  clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%)
  overflow: hidden

.offset
  margin-top: -3.25rem

.imgGrid
  display: grid
  grid: auto-flow (dense / repeat(2, 50%))
  grid-gap: 1rem

.imgGrp
  position: relative

.imgInfo
  position: absolute
  opacity: 0
  display: flex
  flex-direction: column
  justify-content: center
  text-align: center
  bottom: 0px
  color: $light
  font-weight: bolder
  background: transparentize($dark, 0.2)
  padding: 1rem
  width: 100%
  height: 100%
  transition: 0.2s
  &:hover
    opacity: 1

.level
  fontSize: 0.9em
  bottom: 0
  position: relative

.dot
  display: inline-block
  width: 1em
  height: 1em
  margin-right: 5px
  border-radius: 50%
